.body{
    margin: 40px;
    max-width: 480px;
    max-height: 500px;
}
.income{
    box-shadow: 0px 3px 3px rgb(164, 164, 164);
    border: 0px;
    justify-items: stretch;
    background-color: aquamarine;
}
.incomeItem{
    text-align: center;
    padding: 25px;
    max-width: 75px;
    max-height: 150px;
    display: inline-block; 
}
.accounts{
    background-color: blueviolet;
    margin-top: 40px;
}
.expenses{
    background-color: brown;
    margin-top: 40px;
}