.body{
    margin: 40px;
    max-width: 480px;
    max-height: 500px;
}
.income{
    box-shadow: 0px 0px 2px rgb(164, 164, 164);
    border-radius: 5px;
    border: 1px solid rgb(234, 234, 234);
    justify-items: stretch;
    background-color: white;
}
.incomeItem{
    text-align: center;
    padding: 25px;
    max-width: 75px;
    max-height: 150px;
    display: inline-block; 
}
.accounts{
    box-shadow: 0px 0px 2px rgb(164, 164, 164);
    border-radius: 5px;
    border: 1px solid rgb(234, 234, 234);
    margin-top: 40px;
    background-color: white;
}
.expenses{
    box-shadow: 0px 0px 2px rgb(164, 164, 164);
    border-radius: 5px;
    border: 1px solid rgb(234, 234, 234);
    margin-top: 40px;
    background-color: white;
}
.icons{
    /* background-color: rgb(85, 148, 203); */
    width: 60px;
    height: 60px;
    border: 0px;
    border-radius: 100%;
    cursor: pointer;
    /* background: linear-gradient(to top, red 50%, transparent 50%) */
}
.iconStyle{
    padding: 15px;
}

.transactionBlock {
    box-shadow: 0px 0px 2px rgb(164, 164, 164);
    border-radius: 5px;
    border: 1px solid rgb(234, 234, 234);
    background-color: white;
    margin-bottom: 10px;
}
.transactionContent {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

.selectFrom > select {
    outline: none;
    height: 22px;
    font-size: 15px;
}

.selectTo > select {
    outline: none;
    height: 22px;
    font-size: 15px;
}

.transInputSum >input {
    outline: none;
    height: 18px;
    font-size: 15px;
    padding-left: 10px;
}

.transactionContent > button {
    cursor: pointer;
    border: none;
    background-color: #05d398;
    border-radius: 3px;
    color: white;
    font-size: 15px;
}

.transactionContent > button:hover {
    background-color: #048c64;
}